:root {
    --foreground-rgb: #222;
    --background-start-rgb: #eee;
    --background-end-rgb: #efefef;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: #eee;
        --background-start-rgb: #222;
        --background-end-rgb: #222;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Verdana;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground-rgb);
    background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
        var(--background-start-rgb);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

input {
    border: none;
}

input:focus {
    outline: none;
}

button {
    border: 2px solid black;
    cursor: pointer;
}

.message-container {
    position: absolute;
    background-color: #666;
    padding: 40px;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    bottom: 20px;
    left: 0;
    transform: translateX(-100%);
    transition: 1s;
}

.message-container > h1 {
    font-size: 1.2rem;
}

.message-container.active {
    left: 10px;
    transform: translateX(0);
}

.navigation_link {
    position: absolute;
    top: 20px;
    left: 20px;
}

.default_wrapper {
    margin-top: 60px;
    margin-left: 20px;
}

nav {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    width: 90vw;
    height: fit-content;
    padding: 20px 20px;
    border-radius: 10px;

    display: flex;
    gap: 10px;
    align-items: center;
}

a {
    text-decoration: none;
}

nav > a {
    background-color: transparent;
    color: #eee;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
    height: fit-content;
}

nav > a:hover {
    background-color: #aaa;
    color: #222;
}

nav > .logo {
    margin-right: 20px;
}
